
<% include _header %>
<% if ((currentUser) && (currentUser.id === user.id)) { %>
  <a href="/edit" class="pull-right">Edit your profile  </a></br>
  <% if(currentUser.projects.length > 0 ) {%>
    <a href="/cover" class="pull-right">Change Profile Photo</a>
  <% } %>
<% } %>
<h1><%= user.name() %></h1>
<p><%= user.email %></p>
<h2>Joined on <%= user.createdAt %></h2>
<% if (user.description) { %>
  <p><%= user.description %></p>
<% } %>
<% if (user.cover) { %>
<img src="/uploads/<%= user.cover %>" width="500" height = "250" /></br></br>
<% } %>
  <% if ( user.projects.length != 0) { %>
  <% for (var i = 0 ; i < user.projects.length ; i++){ %> 
      <div class="panel panel-default">
        <div class="panel-heading">
            <%= user.projects[i].title %>
        </div>
        <% if (user.projects[i].description) { %>
          <div class="panel-body"><%= user.projects[i].description %><br/>
        <% } %>
        <% if (user.projects[i].repository) { %>
          <a href="/portfolio/<%= user.projects[i].repository %>">
          <%= user.projects[i].repository %></a>
        <% } %>
        <% if (user.projects[i].image) { %>
          <img src="/uploads/<%= user.projects[i].image %>" width = "1024" height="725"/></br></br>
        <% } %>
        <div>
        <% if ((currentUser) && (currentUser.id === user.id)) { %>
              <a href="/delete/<%= user.projects[i]._id %>" class = "btn btn-danger pull-right">Delete</a>
              <a href="/editproject/<%= user.projects[i]._id %>" class = "btn btn-default pull-right">Edit</a>
          <% } %>
        </div>
        </div>
         
      </div>
  <% } %>
<% } %>
 <ul class="pagination">
<% for(var i = 0 ; i < pages; i++) {%>
  <% if(i == page) { %>
    <li class="active"><a ><%= i %></a></li>
  <%}else{%>
    <li><a href="/portfolio/<%=user.username%>/<%= i %>"><%= i %></a></li>
  <%}%>
<% } %>
</ul>
<% if ((currentUser) && (currentUser.id === user.id)){ %>
<% if ( user.projects.length != 0) { %>
  <form action="/add_project" method="get">
  
  <input type="submit" value="Add Project" class="btn btn-primary">
<% } else  {%>

  <form action="/add_project" method="get">
  
  <input type="submit" value="Create Portfolio" class="btn btn-primary">
<% } }%>

<% include _footer %>